<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Đăng nhập</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
<div class="card p-4" style="width: 350px;">
  <h3 class="card-title text-center mb-3">Đăng nhập</h3>
  <form th:action="@{/perform_login}" method="post">
    <div th:if="${param.error}" class="alert alert-danger">
      Sai tên đăng nhập hoặc mật khẩu!
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
      Bạn đã đăng xuất thành công.
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" id="username"
             class="form-control" required autofocus/>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password"
             class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
</div>
</body>
</html>
